/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: #777777;
    padding: 1.8rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         hsla(111, 55%, 64%, 0.8),
         hsla(160, 64%, 43%, 0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 2.3rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primay {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.heading-primay-main{
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.1rem;

    animation: moveInLeft 1s ease-out;

    /* animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; */

    /* animation-iteration-count: 3;
    animation-delay: 1s; */
}

.heading-primay-sub {
    display: block;
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 1rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{opacity: 0;
        transform: translateX(-100px);}   
    80% {transform: translateX(10px);}
    100%{opacity: 1;
        transform: translate(0);}
}
@keyframes moveInRight {
    0% {opacity: 0;
        transform: translateX(100px);}
    80% {transform: translateX(-10px);}
    100% {opacity: 1;
        transform: translate(0);}
}
